.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
    
}


.derecho {
    position: relative;
    display: inline-block;
    justify-content: flex-end;
    padding: 5px;
    
}

.boxorder {
    background-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 300px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.box5 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4 , auto);
    align-items: start;
    justify-content: space-around;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    background-color: #1993E3;


}

