.box3 {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,243,245,1) 35%, rgba(238,241,245,1) 60%, rgba(209,211,214,1) 100%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 300px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.box5 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4 , auto);
    align-items: start;
    justify-content: space-around;
}

.imagenF {
    width: 165px;
    height: 155px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.navbar {
    flex-direction: row-reverse;
   
}

.tituloprod {
    font-size: inherit;
    text-align: center;
    margin: 15px;
    color: #2e1968
}

.tituloprod:hover {
    color: #1e0e4a;
    text-decoration-line: none;
}

.precioprod {
    font-size: larger;

}

.bg-light {
    background-color: #eef1f5 !important;
}