.box3 {
    background-color: #f2f4f7;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 300px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.box5 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4 , auto);
    align-items: start;
    justify-content: space-around;
}

.imagenF {
    width: 165px;
    height: 155px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.navbar {
    flex-direction: row-reverse;
   
}

.tituloprod {
    font-size: inherit;
    margin: 15px;
}

.precioprod {
    font-size: larger;

}