
.image {
    height: 300px;
    width: 300px;
    margin: 20px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
}

.box1 {
    display: flex;
    justify-content: center;
}

.box2 {
    margin: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,243,245,1) 35%, rgba(238,241,245,1) 60%, rgba(209,211,214,1) 100%); 
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.boxD {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    height: auto;
    width: auto;
    border: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: x-large;
}

.description {
    font-size: small;
    margin-top: 15px;
}

.title {
    color: #2e1968;
    
}

.title2 {
    color: #2e1968;
    text-align: center;
    background-color: #eef1f5;
}

.boximg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    list-style: none;
    text-align: center;
}

.btn-outline-danger{
    color: #982b64;
    border-color: #982b64;
}

.btn-outline-danger:hover{
    background-color: #982b64;
    border-color: #982b64;
}
.rev{
    display: flex;
    flex-direction: column;
}