.box2 {
    margin: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,243,245,1) 35%, rgba(238,241,245,1) 60%, rgba(209,211,214,1) 100%); 
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.boxD {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxrew {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,243,245,1) 35%, rgba(238,241,245,1) 60%, rgba(209,211,214,1) 100%);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 170px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.description {
    font-size: small;
    margin-top: 15px;
}
