.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #ac2c67;
    border-color: #000000;
}
.list-group-titulo{
    margin-top: 10px;
}

.list-group {
    width: 400px;
}

.cartinfo{
    display: flex;
    justify-content: space-around;
}

.userbox {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2 , auto);
    align-items: start;
    justify-content: space-around;
}

.usercard{
    margin-block-start: 10px;
}